<div class="circuits form">
	<?php echo $this->Form->create('Circuit'); ?>
	<fieldset>
		<legend><?php echo __('Modificar CIRCUITO'); ?></legend>
		<?php
			echo $this->Form->input('id');
			echo $this->Form->input('name', array('label' => 'Descripción'));
			echo $this->Form->input('district_id', array('label' => 'Distrito'));
		?>
	</fieldset>
	<?php echo $this->Form->end(__('GUARDAR')); ?>
</div>

<div class="actions">
	<h3><?php echo __('Opciones'); ?></h3>
	<ul>

		<h4><?php echo __('CIRCUITOS'); ?></h4>
		<li>
			<?php 
				echo $this->Form->postLink(	__('Borrar'), 
																	array('action' => 'delete', $this->Form->value('Circuit.id')), 
																	null, 
																	__('¿BORRAMOS el CIRCUITO < %s >?', $this->Form->value('Circuit.id'))
				); 
			?>
		</li>
		<li><?php echo $this->Html->link(__('Listar'), array('action' => 'index')); ?></li><br>
		
		<h4><?php echo __('DISTRITOS'); ?></h4>
		<li><?php echo $this->Html->link(__('Listar'), array('controller' => 'districts', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Crear'), array('controller' => 'districts', 'action' => 'add')); ?> </li><br>
		
		<h4><?php echo __('CONGREGACIONES'); ?></h4>
		<li><?php echo $this->Html->link(__('Listar'), array('controller' => 'congregations', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Crear'), array('controller' => 'congregations', 'action' => 'add')); ?> </li>
	</ul>
</div>
